<%Product.find_in_batches do |group| %>
    <div class='row'>
        <% group.each do |product| %>
        <div class='col-md-4'>
            <table class="w3-table w3-border">
                <tr><th><%=product.name%></th></tr>
                <tr><td><%= image_tag product.image.url(:thumb)%></td></tr>
            </table>
        </div>
        <% end %>
    </div>
<% end %>




