<ul class="dropdown-menu">

  <li class="dropdown-submenu">
    <td><%=link_to 'LỘC BÌNH', locbinhs_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Sơn</a></li>
            <li><a href="#">Hương</a></li>
            <li><a href="#">Cẩm Lai</a></li>
            <li><a href="#">Trắc</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
        <td><%=link_to 'THIỀM THỪ', thiemthus_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Sơn</a></li>
            <li><a href="#">Hương</a></li>
            <li><a href="#">Cẩm Lai</a></li>
            <li><a href="#">Trắc</a></li>
        </ul>
    </li>
</ul>

