
<div class="col-lg-3 col-sm-4 col-xs-12">
  <div class="container" style="margin-top: 100px">
    <footer>
    	<h4><div class="lineUnder2"><span class="lineUnder1"><a class="nguyenkhoi">MỸ NGHỆ LÊ KIM</a></span></div></h4> 	
  		<p><span class="glyphicon glyphicon-home"></span>  Địa chỉ: 81/1 Tam Bình - Tam Phú - Thủ Đức - Tp. HCM</p>
  		<p><span class="glyphicon glyphicon-phone"></span>  Hotline: 0919043484</p>		
      <p><span class="glyphicon glyphicon-envelope"></span>  Email: kythuatnguyenkhoi@gmail.com </p>
    </footer>
  </div>
</div>
